<section class="login-form">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>
        <h1>Login
          <mat-icon>account_box</mat-icon>
        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!--Form start-->
      <form [formGroup]="loginForm" fxLayoutGap="28px" fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field class="login-form-field">
          <input formControlName="username" matInput placeholder="Username">
          <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="login-form-field">
          <input formControlName="password" matInput type="password" placeholder="Password">
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
      </form>
      <!--Form end-->
    </mat-card-content>
    <mat-card-actions>
      <button style="margin-right: 120px;" mat-raised-button color="accent">Sign up</button>
      <button mat-raised-button>Forgot password</button>
    </mat-card-actions>
  </mat-card>
</section>
