<mat-toolbar color="primary">
  <button mat-button (click)="link1ClickHandle()">Home</button>
  <button mat-button (click)="link1ClickHandle()">About</button>
  <button mat-button (click)="link1ClickHandle()">History</button>
  <button mat-button (click)="link1ClickHandle()">Contact</button>
  <span class="spacer"></span>
  <button mat-raised-button (click)="link1ClickHandle()">Log in</button>
  <button mat-flat-button (click)="link1ClickHandle()">Sign up</button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="useTheme1()"><span>Light Theme</span></button>
    <button mat-menu-item (click)="useTheme2()"><span>Dark Theme</span></button>
  </mat-menu>
</mat-toolbar>
