<div [class]="theme">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over" #sideNav role="navigation">
      <p>I'm the sidebar</p>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [class]="theme">
        <app-navbar
          (themeChange)="updateTheme($event)"
          role="navigation"
          (sideNavChange)="sideNav.toggle()"
        ></app-navbar>
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
